ul class="nav navbar-nav"
  - if current_user
  - else
    li= link_to('<span class="glyphicon glyphicon-flag"></span> About'.html_safe, about_path)

ul class="nav navbar-nav navbar-right"
  - if current_user
    li= link_to('<span class="glyphicon glyphicon-cog"></span> Settings'.html_safe, edit_user_registration_path)
    li= link_to('<span class="glyphicon glyphicon-off"></span> Log out'.html_safe, destroy_user_session_path, method: 'delete')
  - else
    li = link_to('<i class="fa fa-linkedin"></i> Linkedin'.html_safe, user_linkedin_omniauth_authorize_path)
    li = link_to('<i class="fa fa-twitter"></i> Twitter'.html_safe, user_twitter_omniauth_authorize_path)
    li = link_to('<i class="fa fa-google"></i> Google'.html_safe, user_google_oauth2_omniauth_authorize_path)
    li = link_to('<i class="fa fa-facebook"></i> Facebook'.html_safe, user_facebook_omniauth_authorize_path)
    li= link_to('<i class="fa fa-user"></i> Login'.html_safe, new_user_session_path)
    li= link_to('<i class="fa fa-user-plus"></i> Register'.html_safe, new_user_registration_path)
